<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>
<body>
    <h1>Editar senha</h1>
    <form action="/salvarEditarSenha" method="post">
        <label>Digite sua nova senha</label>
        <br>
        <input type="text" name="senha">
        <br>
        <input type="submit" value="Salvar">
    </form>
</body>
</html>